<h1> Create Post </h1>
<%= form_for @post , method:"POST" do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title,placeholder: "Title" %>
    <br/><br/>
    <%= f.label :content%>
    <%= f.text_area :content ,placeholder: "Content"%>
    <br/></br>
    <%= f.label :date %>
    <%= f.date_field :date %>
    </br><br/>

<%= f.submit "Create Post" %>
<% end %>